<a href="https://colab.research.google.com/github/Sinudeshmukh/Data-Science/blob/main/AssociationRulesAssgn3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori,association_rules
from mlxtend.preprocessing import TransactionEncoder

In [2]:
df = pd.read_csv('my_movies.csv')
df

              V1             V2             V3  ... LOTR Braveheart  Green Mile
0    Sixth Sense          LOTR1  Harry Potter1  ...    0          0           1
1      Gladiator        Patriot     Braveheart  ...    0          1           0
2          LOTR1          LOTR2            NaN  ...    0          0           0
3      Gladiator        Patriot    Sixth Sense  ...    0          0           0
4      Gladiator        Patriot    Sixth Sense  ...    0          0           0
5      Gladiator        Patriot    Sixth Sense  ...    0          0           0
6  Harry Potter1  Harry Potter2            NaN  ...    0          0           0
7      Gladiator        Patriot            NaN  ...    0          0           0
8      Gladiator        Patriot    Sixth Sense  ...    0          0           0
9    Sixth Sense           LOTR      Gladiator  ...    1          0           1

[10 rows x 15 columns]

In [7]:
df.drop(df.columns[[0,1,2,3,4]],axis=1,inplace=True)

In [8]:
df

   Sixth Sense  Gladiator  LOTR1  ...  LOTR  Braveheart  Green Mile
0            1          0      1  ...     0           0           1
1            0          1      0  ...     0           1           0
2            0          0      1  ...     0           0           0
3            1          1      0  ...     0           0           0
4            1          1      0  ...     0           0           0
5            1          1      0  ...     0           0           0
6            0          0      0  ...     0           0           0
7            0          1      0  ...     0           0           0
8            1          1      0  ...     0           0           0
9            1          1      0  ...     1           0           1

[10 rows x 10 columns]

#Apriori Algorithm

###With Min_Support=0.4

In [10]:
freq_itemsets = apriori(df,min_support=0.4,use_colnames=True)
freq_itemsets

   support                           itemsets
0      0.6                      (Sixth Sense)
1      0.7                        (Gladiator)
2      0.6                          (Patriot)
3      0.5           (Sixth Sense, Gladiator)
4      0.4             (Patriot, Sixth Sense)
5      0.6               (Patriot, Gladiator)
6      0.4  (Patriot, Sixth Sense, Gladiator)

###With Min_Support=0.2

In [12]:
freq_itemsets1 = apriori(df,min_support=0.2,use_colnames=True)
freq_itemsets1

    support                           itemsets
0       0.6                      (Sixth Sense)
1       0.7                        (Gladiator)
2       0.2                            (LOTR1)
3       0.2                    (Harry Potter1)
4       0.6                          (Patriot)
5       0.2                            (LOTR2)
6       0.2                       (Green Mile)
7       0.5           (Sixth Sense, Gladiator)
8       0.4             (Patriot, Sixth Sense)
9       0.2          (Green Mile, Sixth Sense)
10      0.6               (Patriot, Gladiator)
11      0.2                     (LOTR2, LOTR1)
12      0.4  (Patriot, Sixth Sense, Gladiator)

#Association Rules

###Using Metric Lift and Min_Support=0.4

In [14]:
rules = association_rules(freq_itemsets,metric='lift',min_threshold=0.7)
rules

                 antecedents               consequents  ...  leverage  conviction
0              (Sixth Sense)               (Gladiator)  ...      0.08         1.8
1                (Gladiator)             (Sixth Sense)  ...      0.08         1.4
2                  (Patriot)             (Sixth Sense)  ...      0.04         1.2
3              (Sixth Sense)                 (Patriot)  ...      0.04         1.2
4                  (Patriot)               (Gladiator)  ...      0.18         inf
5                (Gladiator)                 (Patriot)  ...      0.18         2.8
6     (Patriot, Sixth Sense)               (Gladiator)  ...      0.12         inf
7       (Patriot, Gladiator)             (Sixth Sense)  ...      0.04         1.2
8   (Sixth Sense, Gladiator)                 (Patriot)  ...      0.10         2.0
9                  (Patriot)  (Sixth Sense, Gladiator)  ...      0.10         1.5
10             (Sixth Sense)      (Patriot, Gladiator)  ...      0.04         1.2
11               (Gladiator)    (Patriot, Sixth Sense)  ...      0.12         1.4

[12 rows x 9 columns]

###Using Metric Confidence and Min_Support=0.4

In [15]:
rules1 = association_rules(freq_itemsets,metric='confidence',min_threshold=0.7)
rules1

                antecedents    consequents  ...  leverage  conviction
0             (Sixth Sense)    (Gladiator)  ...      0.08         1.8
1               (Gladiator)  (Sixth Sense)  ...      0.08         1.4
2                 (Patriot)    (Gladiator)  ...      0.18         inf
3               (Gladiator)      (Patriot)  ...      0.18         2.8
4    (Patriot, Sixth Sense)    (Gladiator)  ...      0.12         inf
5  (Sixth Sense, Gladiator)      (Patriot)  ...      0.10         2.0

[6 rows x 9 columns]

###Using Metric Confidence and Min_Support=0.2

In [16]:
rules_1 = association_rules(freq_itemsets1,metric='confidence',min_threshold=0.7)
rules_1

                antecedents    consequents  ...  leverage  conviction
0             (Sixth Sense)    (Gladiator)  ...      0.08         1.8
1               (Gladiator)  (Sixth Sense)  ...      0.08         1.4
2              (Green Mile)  (Sixth Sense)  ...      0.08         inf
3                 (Patriot)    (Gladiator)  ...      0.18         inf
4               (Gladiator)      (Patriot)  ...      0.18         2.8
5                   (LOTR2)        (LOTR1)  ...      0.16         inf
6                   (LOTR1)        (LOTR2)  ...      0.16         inf
7    (Patriot, Sixth Sense)    (Gladiator)  ...      0.12         inf
8  (Sixth Sense, Gladiator)      (Patriot)  ...      0.10         2.0

[9 rows x 9 columns]

###Using Metric Lift and Min_Support=0.2

In [17]:
rules_2 = association_rules(freq_itemsets1,metric='lift',min_threshold=0.7)
rules_2

                 antecedents               consequents  ...  leverage  conviction
0              (Sixth Sense)               (Gladiator)  ...      0.08         1.8
1                (Gladiator)             (Sixth Sense)  ...      0.08         1.4
2                  (Patriot)             (Sixth Sense)  ...      0.04         1.2
3              (Sixth Sense)                 (Patriot)  ...      0.04         1.2
4               (Green Mile)             (Sixth Sense)  ...      0.08         inf
5              (Sixth Sense)              (Green Mile)  ...      0.08         1.2
6                  (Patriot)               (Gladiator)  ...      0.18         inf
7                (Gladiator)                 (Patriot)  ...      0.18         2.8
8                    (LOTR2)                   (LOTR1)  ...      0.16         inf
9                    (LOTR1)                   (LOTR2)  ...      0.16         inf
10    (Patriot, Sixth Sense)               (Gladiator)  ...      0.12         inf
11      (Patriot, Gladiator)             (Sixth Sense)  ...      0.04         1.2
12  (Sixth Sense, Gladiator)                 (Patriot)  ...      0.10         2.0
13                 (Patriot)  (Sixth Sense, Gladiator)  ...      0.10         1.5
14             (Sixth Sense)      (Patriot, Gladiator)  ...      0.04         1.2
15               (Gladiator)    (Patriot, Sixth Sense)  ...      0.12         1.4

[16 rows x 9 columns]